* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(39, 39, 39, 0.7)), to(rgba(39, 39, 39, 0.7))), url("/img/bgimg2.jpeg");
  background: linear-gradient(to bottom, rgba(39, 39, 39, 0.7), rgba(39, 39, 39, 0.7)), url("/img/bgimg2.jpeg");
  background-size: cover;
  color: #eee;
  font-family: 'Poppins', sans-serif;
  font-size: 1.7rem;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
}

img {
  max-width: 100%;
}

/* Style the tab */
.tab {
  max-width: 1100px;
  width: 85%;
  margin: 2rem auto 0 auto;
  overflow: hidden;
  background-color: transparent;
}

@media (max-width: 768px) {
  .tab {
    width: 100%;
    margin-left: 16%;
  }
}

@media (max-width: 480px) {
  .tab {
    width: 100%;
    margin-left: 13%;
  }
}

.tabcontent-home {
  display: block;
}

/* Style the buttons inside the tab */
.tab button {
  color: #eee;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1rem 1.2rem;
  font-size: 1.7rem;
  font-weight: 600;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@media (max-width: 480px) {
  .tab button {
    padding: 1rem 0.7rem;
    font-size: 1.5rem;
    font-weight: 600;
  }
}

/* Change background color of buttons on hover */
.tab button:hover {
  color: #e2eb86;
}

.tab button.active {
  color: #e2eb86;
  font-size: 1.87rem;
  border-top: 1px solid #f7f9de;
  border-bottom: 1px solid #f7f9de;
}

/* Style the tab content */
.tabcontent {
  display: none;
  border-top: none;
}

.about {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4rem;
  min-height: 500px;
  padding: 2rem 0;
  border: none;
  margin-top: 3vh;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.about__text {
  margin: 3rem 7rem 0 7rem;
  min-width: 500px;
}

.about__text__title {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #e2eb86;
}

.about__text p {
  font-size: 1.6rem;
}

.about__skills {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 40px;
  margin: 0 15rem;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.about__skills--hard-skills, .about__skills--soft-skills {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-width: 350px;
}

@media (max-width: 768px) {
  .about__skills--hard-skills, .about__skills--soft-skills {
    max-width: 400px;
  }
}

.about__skills__title {
  margin-bottom: 15px;
  color: #e2eb86;
  text-align: center;
}

.about__skills .progress {
  background-color: #d8d8d8;
  border-radius: 20px;
  font-size: 10px;
  margin: 7px 0;
}

.about__skills .p10 {
  background: -webkit-gradient(linear, right top, left top, from(#b4cc4e), to(#277647));
  background: linear-gradient(to left, #b4cc4e, #277647);
  border-radius: 20px;
  color: #fff;
  display: inline-block;
  text-align: center;
  height: 100%;
  width: 10%;
  -webkit-animation: p10bar 2s linear forwards;
          animation: p10bar 2s linear forwards;
}

.about__skills .p20 {
  background: -webkit-gradient(linear, right top, left top, from(#b4cc4e), to(#277647));
  background: linear-gradient(to left, #b4cc4e, #277647);
  border-radius: 20px;
  color: #fff;
  display: inline-block;
  text-align: center;
  height: 100%;
  width: 20%;
  -webkit-animation: p20bar 2s linear forwards;
          animation: p20bar 2s linear forwards;
}

.about__skills .p30 {
  background: -webkit-gradient(linear, right top, left top, from(#b4cc4e), to(#277647));
  background: linear-gradient(to left, #b4cc4e, #277647);
  border-radius: 20px;
  color: #fff;
  display: inline-block;
  text-align: center;
  height: 100%;
  width: 30%;
  -webkit-animation: p30bar 2s linear forwards;
          animation: p30bar 2s linear forwards;
}

.about__skills .p40 {
  background: -webkit-gradient(linear, right top, left top, from(#b4cc4e), to(#277647));
  background: linear-gradient(to left, #b4cc4e, #277647);
  border-radius: 20px;
  color: #fff;
  display: inline-block;
  text-align: center;
  height: 100%;
  width: 40%;
  -webkit-animation: p40bar 2s linear forwards;
          animation: p40bar 2s linear forwards;
}

.about__skills .p50 {
  background: -webkit-gradient(linear, right top, left top, from(#b4cc4e), to(#277647));
  background: linear-gradient(to left, #b4cc4e, #277647);
  border-radius: 20px;
  color: #fff;
  display: inline-block;
  text-align: center;
  height: 100%;
  width: 50%;
  -webkit-animation: p50bar 2s linear forwards;
          animation: p50bar 2s linear forwards;
}

.about__skills .p60 {
  background: -webkit-gradient(linear, right top, left top, from(#b4cc4e), to(#277647));
  background: linear-gradient(to left, #b4cc4e, #277647);
  border-radius: 20px;
  color: #fff;
  display: inline-block;
  text-align: center;
  height: 100%;
  width: 60%;
  -webkit-animation: p60bar 2s linear forwards;
          animation: p60bar 2s linear forwards;
}

.about__skills .p70 {
  background: -webkit-gradient(linear, right top, left top, from(#b4cc4e), to(#277647));
  background: linear-gradient(to left, #b4cc4e, #277647);
  border-radius: 20px;
  color: #fff;
  display: inline-block;
  text-align: center;
  height: 100%;
  width: 70%;
  -webkit-animation: p70bar 2s linear forwards;
          animation: p70bar 2s linear forwards;
}

.about__skills .p80 {
  background: -webkit-gradient(linear, right top, left top, from(#b4cc4e), to(#277647));
  background: linear-gradient(to left, #b4cc4e, #277647);
  border-radius: 20px;
  color: #fff;
  display: inline-block;
  text-align: center;
  height: 100%;
  width: 80%;
  -webkit-animation: p80bar 2s linear forwards;
          animation: p80bar 2s linear forwards;
}

.about__skills .p90 {
  background: -webkit-gradient(linear, right top, left top, from(#b4cc4e), to(#277647));
  background: linear-gradient(to left, #b4cc4e, #277647);
  border-radius: 20px;
  color: #fff;
  display: inline-block;
  text-align: center;
  height: 100%;
  width: 90%;
  -webkit-animation: p90bar 2s linear forwards;
          animation: p90bar 2s linear forwards;
}

@-webkit-keyframes p60bar {
  from {
    width: 0%;
  }
  to {
    width: 60%;
  }
}

@keyframes p60bar {
  from {
    width: 0%;
  }
  to {
    width: 60%;
  }
}

@-webkit-keyframes p70bar {
  from {
    width: 0%;
  }
  to {
    width: 70%;
  }
}

@keyframes p70bar {
  from {
    width: 0%;
  }
  to {
    width: 70%;
  }
}

@-webkit-keyframes p80bar {
  from {
    width: 0%;
  }
  to {
    width: 80%;
  }
}

@keyframes p80bar {
  from {
    width: 0%;
  }
  to {
    width: 80%;
  }
}

@-webkit-keyframes p90bar {
  from {
    width: 0%;
  }
  to {
    width: 90%;
  }
}

@keyframes p90bar {
  from {
    width: 0%;
  }
  to {
    width: 90%;
  }
}

.projects {
  padding: 50px 0;
  margin-top: 3vh;
}

.projects__title {
  font-size: 2.6rem;
  font-weight: 500;
  margin-bottom: 20px;
  color: #e2eb86;
}

.projects__text p {
  font-size: 1.6rem;
}

.projects__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  gap: 30px;
  line-height: 1.6;
}

.projects__container .wrapper {
  width: 100%;
}

.projects__container .slider {
  max-width: 1300px;
  width: 85%;
  margin: auto;
  /* padding: 0 30px; */
}

.projects__container .slider .card {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)));
  background: linear-gradient(rgba(0, 0, 0, 0.2));
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 10px;
}

.projects__container .slider .card .img {
  height: 200px;
  width: 100%;
}

.projects__container .slider .card .img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.projects__container .slider .card .content {
  padding: 10px 12px;
}

.projects__container .slider .card .content .title {
  font-size: 2rem;
  font-weight: 600;
}

.projects__container .slider .card .content .sub-title {
  font-size: 1.8rem;
  font-weight: 600;
  color: #e2eb86;
  line-height: 20px;
}

.projects__container .slider .card .content p {
  text-align: start;
  margin: 10px 0;
  font-size: 1.6rem;
}

.projects__container .slider .card .content .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.projects__container .slider .card .content .btn {
  display: block;
  text-align: left;
  margin: 10px 0;
}

.projects__container .slider .card .content .btn button {
  background: #e2eb86;
  color: #333;
  border: none;
  outline: none;
  font-size: 17px;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.projects__container .slider .card .content .btn button:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.owl-dots {
  text-align: center;
  margin-top: 40px;
}

.owl-dot {
  height: 15px;
  width: 45px;
  margin: 0 5px;
  outline: none;
  border-radius: 14px;
  border: 2px solid #e2eb86 !important;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.owl-dot.active,
.owl-dot:hover {
  background: #e2eb86 !important;
}

.contact {
  position: relative;
  min-height: 80vh;
  padding: 30px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(51, 51, 51, 0.7)), to(rgba(51, 51, 51, 0.7))), url(../img/bgimg1.jpeg);
  background: linear-gradient(to bottom, rgba(51, 51, 51, 0.7), rgba(51, 51, 51, 0.7)), url(../img/bgimg1.jpeg);
  background-size: cover;
}

@media (max-width: 1024px) {
  .contact {
    padding: 50px;
  }
}

.contact .content {
  max-width: 1100px;
}

.contact .content p {
  font-weight: 300;
  color: #fff;
}

.contact__title {
  font-size: 28px;
  font-weight: 500;
  color: #e2eb86;
  margin-bottom: 20px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.contact .container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

@media (max-width: 1024px) {
  .contact .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact .container .contactInfo {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1024px) {
  .contact .container .contactInfo {
    margin-bottom: 40px;
    width: 100%;
  }
}

.contact .container .contactInfo .box {
  position: relative;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact .container .contactInfo .icon {
  min-width: 60px;
  height: 60px;
  background: #fff;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  font-size: 22px;
}

.contact .container .contactInfo .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 20px;
  font-size: 16px;
  font-weight: 300;
}

.contact .container .contactInfo h3 {
  color: #e2eb86;
}

.contact .container .contactForm {
  width: 40%;
  padding: 40px;
  background: #fff;
  color: black;
}

@media (max-width: 1024px) {
  .contact .container .contactForm {
    width: 100%;
  }
}

.contact .container .contactForm h2 {
  font-size: 30px;
  color: #333;
  font-weight: 500;
}

.contact .container .contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contact .container .contactForm .inputBox input,
.contact .container .contactForm .inputBox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.contact .container .contactForm .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #666;
}

.contact .container .contactForm .inputBox input:focus ~ span,
.contact .container .contactForm .inputBox input:valid ~ span,
.contact .container .contactForm .inputBox textarea:focus ~ span,
.contact .container .contactForm .inputBox textarea:valid ~ span {
  color: #e91e63;
  font-size: 12px;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.contact .container .contactForm .inputBox input[type="submit"] {
  width: 100px;
  background: #e2eb86;
  border-radius: 15px;
  color: #333;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}

.contact .container .contactForm .inputBox input[type="submit"]:hover {
  background-color: #eee;
}

.tabcontent-home {
  display: block;
}

.main {
  width: 1100px;
  max-width: 85%;
  margin: 0 auto;
}

.main-intro {
  max-width: 1100px;
  margin: 5vh auto;
  display: -ms-grid;
  display: grid;
  gap: 3rem;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 850px) {
  .main-intro {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .main-intro {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.main-intro__image img {
  width: 100%;
  height: 80%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  background-position: center top;
}

.main-intro__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 850px) {
  .main-intro__text {
    height: 350px;
    position: relative;
    background-color: rgba(51, 51, 51, 0.4);
    border: 3px solid #e2eb86;
    -webkit-margin-before: -26vh;
            margin-block-start: -26vh;
    -webkit-margin-after: 3vh;
            margin-block-end: 3vh;
    -webkit-margin-start: 5vh;
            margin-inline-start: 5vh;
    -webkit-margin-end: -3vh;
            margin-inline-end: -3vh;
    padding: 2rem;
    z-index: 10;
  }
}

@media (max-width: 768px) {
  .main-intro__text {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (max-width: 620px) {
  .main-intro__text {
    height: 350px;
    position: relative;
    background-color: rgba(51, 51, 51, 0.4);
    border: 3px solid #e2eb86;
    -webkit-margin-before: -26vh;
            margin-block-start: -26vh;
    -webkit-margin-start: 4vh;
            margin-inline-start: 4vh;
    -webkit-margin-end: -3vh;
            margin-inline-end: -3vh;
    padding: 2rem;
    z-index: 10;
  }
}

@media (max-width: 480px) {
  .main-intro__text {
    border: 3px solid #e2eb86;
    padding: 2rem 1rem;
  }
}

.main-intro__text .main__highlight {
  font-size: 2.5rem;
  font-weight: 600;
}

.main-intro__text .main__highlight span {
  color: #f2f6c8;
}

@media (max-width: 768px) {
  .main-intro__text .main__highlight {
    font-size: 2rem;
    font-weight: 600;
  }
}

@media (max-width: 480px) {
  .main-intro__text .main__highlight {
    font-size: 1.8rem;
    font-weight: 600;
  }
}

.main-intro__text .line-separator {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  height: 3px;
  width: 0%;
  background: #e2eb86;
  -webkit-animation: line-separator 2s ease-in;
          animation: line-separator 2s ease-in;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes line-separator {
  from {
    width: 0%;
  }
  to {
    width: 45%;
  }
}

@keyframes line-separator {
  from {
    width: 0%;
  }
  to {
    width: 45%;
  }
}

@media (max-width: 480px) {
  .main-intro__text .line-separator {
    width: 100%;
  }
}

.main-intro__text .main__description {
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 3px;
}

.main-intro__text .social-media {
  margin: 1.8rem 0 0 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-intro__text .social-media li {
  list-style: none;
  margin: 0 2px;
  font-size: 27px;
  color: #eee;
}

.main-intro__text .social-media a {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background: #272727;
  border-radius: 25%;
  color: #e2eb86;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main-intro__text .social-media a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 25%;
  background: #e2eb86;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  z-index: -1;
}

.main-intro__text .social-media a:hover::before {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 0 10px #e2eb86;
          box-shadow: 0 0 10px #e2eb86;
}

.main-intro__text .social-media a:hover {
  color: #e2eb86;
  -webkit-box-shadow: 0 0 3px #e2eb86;
          box-shadow: 0 0 3px #e2eb86;
  text-shadow: 0 0 3px #e2eb86;
}
