.about {
  // background-color: $primary-color-transparent;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  // align-items: flex-start;
  min-height: 500px;
  padding: 2rem 0;
  border: none;
  margin-top: 3vh;

  &__container {
    width: 1100px;
    max-width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-flow: column wrap;
  }
  &__text {
    // margin: 3rem 7rem 0 7rem;
    // min-width: 500px;

    &__title {
      font-size: 28px;
      font-weight: 500;
      margin-bottom: 20px;
      color: $accent-color;
    }
    & p {
      font-size: 1.6rem;
    }
  }

  &__skills {
    margin: 0 auto;
    display: grid;
    width: 85%;
    gap: 16px;
    padding: 16px;
    max-width: 1024px;

    & .set {
      height: 400px;
      background-color: rgba(255, 255, 255, 0.9);
      padding: 24px;
      border-radius: 16px;
      cursor: pointer;

      &:hover {
        box-shadow: 0px 12px 16px #36363624;
      }
      & span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        font-size: 40px;
        background-color: #b9c441;
        color: #fff;
        border-radius: 35%;
        margin-inline: auto;
      }

      & > header {
        padding-block: 24px;
        font-size: 2.4rem;
        color: #b9c441;
        text-align: center;
        text-transform: capitalize;
      }

      & .list {
        padding-block: 8px;
        display: grid;
        grid-template-columns: 1fr 28px;
        color: #888;
        text-transform: uppercase;
        font-size: 1.6rem;
      }
      &:hover .list {
        color: #363636;
        font-weight: 600;
      }
    }
  }
}

@media screen and (min-width: 950px) {
  .about__skills {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 950px) {
  .about__skills {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 750px) {
  .about__skills {
    grid-template-columns: repeat(1, 1fr);
  }
}
