.about{
  background-color:$color-grey;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  // align-items: flex-start;
  min-height: 500px;
  padding: 7rem 0;
  border: none;
  margin-top: 5vh;

  
  &__container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-flow: row wrap ;


  }
 &__text{
  margin-top:3rem;
  max-width: 500px;

  &__title{
    padding-bottom: 20px;
    color: $accent-color;
  }

  
}

 &__skills{
   display: flex;
   flex-direction: row;
   gap: 30px;
   margin-top:3rem;

  &__title{
    padding-bottom: 20px;
    color:$accent-color;
    text-align: center;
  }
  .progress {
    background-color:#d8d8d8;
    border-radius:20px;
    height:12px;
    font-size: 11px;
    min-width:250px;
    margin: 10px 0;

    &-done {
      background: linear-gradient(to left, #F2709C, #FF9472);
      background: linear-gradient(to left, $accent-color, $accent-color--2);

      // box-shadow: 0 3px 3px -5px #F2709C, 0 2px 5px #F2709C;
      border-radius: 20px;
      color: #fff;
      display: inline-block;
      text-align: center;
      height: 100%;
    }

  }

  .p10 {
   width: 10%;
    }
  .p20 {
    width: 20%;
  }
  .p30{
    width: 30%;
  }
  .p40 {
    width: 40%;
  }
  .p50 {
    width: 50%;
  }
  .p60 {
    width: 60%;
  }
  .p70 {
    width: 70%;
  }
  .p80 {
    width: 80%;
  }
  .p90 {
    width: 90%;
  }
  
  
}
}





