$primary-color: #272727;
$primary-color-transparent: rgba(39, 39, 39, 0.6);
$secondary-color: #eee;
$accent-color: #e2eb86;
$accent-color--1: #b4cc4e;
$accent-color--2: #277647;

$color-grey: #363535;
$padding: 1.5rem;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  background: linear-gradient(
      to bottom,
      $primary-color-transparent,
      $primary-color-transparent
    ),
    url('/img/bgimg2.jpeg');
  background-size: cover;

  color: $secondary-color;
  font-family: 'Poppins', sans-serif;
  font-size: 1.7rem;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
}

img {
  max-width: 100%;
}

@mixin transition-ease {
  transition: all 0.5s ease-in-out; /*to be reused that is why it is all*/
}

@mixin progress-done {
  background: linear-gradient(to left, $accent-color--1, $accent-color--2);
  border-radius: 20px;
  color: #fff;
  display: inline-block;
  text-align: center;
  height: 100%;
}

@function set-text-color($color) {
  @if (lightness($color) > 40%) {
    @return #000;
  } @else {
    @return #fff;
  }
}

// Managing all our breakpoints in this map

$bp: (
  mobile: 480px,
  sm-tablet: 620px,
  tablet: 768px,
  lg-tablet: 850px,
  laptop: 1024px,
  desktop: 1440px,
);

// Conditional Media query Mixins
// To save time

//desktop first (for nav at least)

@mixin query($screen) {
  @each $key, $value in $bp {
    @if ($screen == $key) {
      @media (max-width: $value) {
        @content;
      }
    }
  }
}
