.projects {
  // background-color: $primary-color-transparent;
  padding: 50px 0;
  margin-top: 3vh;

  &__title {
    font-size: 2.6rem;
    font-weight: 500;
    margin-bottom: 20px;
    color: $accent-color;
  }
  &__text p {
    font-size: 1.6rem;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    gap: 30px;
    line-height: 1.6;

    & .wrapper {
      width: 100%;
    }
    & .slider {
      max-width: 1300px;
      width: 85%;
      margin: auto;
      /* padding: 0 30px; */

      & .card {
        // background: #fff;
        background: linear-gradient(rgba(0, 0, 0, 0.2));
        flex: 1;
        margin: 0 10px;

        & .img {
          height: 200px;
          width: 100%;

          & img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }

        & .content {
          padding: 10px 12px;

          & .title {
            font-size: 2rem;
            font-weight: 600;
          }

          & .sub-title {
            font-size: 1.8rem;
            font-weight: 600;
            color: $accent-color;
            line-height: 20px;
          }
          & p {
            text-align: start;
            margin: 10px 0;
            font-size: 1.6rem;
          }

          & .btn {
            display: block;
            text-align: left;
            margin: 10px 0;

            & button {
              background: $accent-color;
              color: #333;
              border: none;
              outline: none;
              font-size: 17px;
              padding: 5px 8px;
              border-radius: 5px;
              cursor: pointer;
              transition: 0.2s ease;

              &:hover {
                transform: scale(0.9);
              }
            }
          }
        }
      }
    }
  }
}

.owl-dots {
  text-align: center;
  margin-top: 40px;
}
.owl-dot {
  height: 15px;
  width: 45px;
  margin: 0 5px;
  outline: none;
  border-radius: 14px;
  border: 2px solid $accent-color !important;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}
.owl-dot.active,
.owl-dot:hover {
  background: $accent-color !important;
}
