/* Style the tab */

.tab {
  max-width: 1100px;
  width: 85%;
  margin: 0 auto;
  overflow: hidden;
  background-color: transparent;

  @include query(tablet) {
    width:100%;
    margin-left: 16%;
  }
  
  @include query(mobile) {
    width:100%;
    margin-left: 13%;
  }
}

.tabcontent-home{
  display: block;
}

/* Style the buttons inside the tab */
.tab button {
  color:$secondary-color;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  font-weight: 600;

  @include query(mobile){
    padding: 10px 7px;
    font-size: 15px;
    font-weight: 600;
    
  }
}

/* Change background color of buttons on hover */
.tab button:hover {
  color: $accent-color;
}

/* Create an active/current tablink class */
.tab button.active {
  text-decoration: underline; 
}

/* Style the tab content */
.tabcontent {
  display: none;
  border-top: none;
}