/* Style the tab */

.tab {
  overflow: hidden;
  // border: 1px solid #ccc;
  // background-color: #f1f1f1;
  background-color: transparent;
}

.tabcontent-home{
  display: block;
}

/* Style the buttons inside the tab */
.tab button {
  color:white;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  color: pink
}

/* Create an active/current tablink class */
.tab button.active {
  text-decoration: underline; 
}

/* Style the tab content */
.tabcontent {
  display: none;
  border-top: none;
}