/* Style the tab */

.tab {
  max-width: 1100px;
  width: 85%;
  margin: 2rem auto 0 auto;
  overflow: hidden;
  background-color: transparent;

  @include query(tablet) {
    width:100%;
    margin-left: 16%;
  }
  
  @include query(mobile) {
    width:100%;
    margin-left: 13%;
  }
}

.tabcontent-home{
  display: block;
}

/* Style the buttons inside the tab */
.tab button {
  color:$secondary-color;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1rem 1.2rem;
  font-size: 1.7rem;
  // letter-spacing: 0;
  font-weight: 600;
  transition: all 0.5s ease-in-out;

  @include query(mobile){
    padding: 1rem 0.7rem;
    font-size: 1.5rem;
    font-weight: 600;
    
  }
}

/* Change background color of buttons on hover */
.tab button:hover{
  color: $accent-color;
  
}

.tab button.active {
  // letter-spacing: 3px;
  color: $accent-color;
  font-size: 1.85rem;
  border-top: 1px solid lighten($accent-color, 20%);
  border-bottom: 1px solid lighten($accent-color, 20%);
}


/* Style the tab content */
.tabcontent {
  display: none;
  border-top: none;
}