@import "./config";
@import "./tabnavigationmenu";

.tabcontent-home{
  display: block;
}

.two, .three, .four {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  padding: 100px 20vh;
  border: none;
  margin-top: 5vh;
}
.grey{
  background-color:$color-grey;
}
.lighter-grey{
  background-color: $color-light-grey;
}

.wave1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);

  & svg {
    position: relative;
    display: block;
    width: calc(104% + 1.3px);
    height: 43px;
  }
  & .shape-fill {
    fill: $primary-color;
  }
}

.wave2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);

  & svg {
    position: relative;
    display: block;
    width: calc(104% + 1.3px);
    height: 62px;
  }
  & .shape-fill {
    fill:$primary-color;
  }
}

// .wave3 {
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   width: 100%;
//   overflow: hidden;
//   line-height: 0;
  

//   & svg {
//     position: relative;
//     display: block;
//     width: calc(104% + 1.3px);
//     height: 44px;
//   }

//   & .shape-fill {
//     fill:$primary-color;
//   }
// }


.main{
  width: 100%;
  // height: 35vw;
  display: flex;
  flex-direction: row;
  margin-top: 2vw;
  padding-bottom: 7vw;

  @include query(tablet){
    padding: 0 6rem;
  }
  

  &-intro{ 
    width: 100%;
    display: flex;
    flex-direction: row;
  
  
    @include query(tablet){
    flex-direction: column-reverse;
    }

  
    &__text{
      // border: 2px solid red;
      flex-basis: 55%;
      display: flex;
      justify-items: center;
      align-items: center;
      padding: 15rem 2rem;
      position: relative;

      .highlight{
        font-size: 2.5rem;
        text-indent: 2rem;
        position: relative;
        left: 300px;
      }
      
      .line-separator{
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        height:3px;
        width: 35%;
        background:pink; 
        border-bottom:1px solid #313030;
        
      }
      p{
        font-size: 1.4rem;
        font-weight: 100;
        letter-spacing: 3px;

      }
      .social-media{
        margin-top: 2rem;
    
        .bx{
          padding-right: 6px;
        }
      }
      
      @include query(tablet){
        padding: 10rem 1rem;
      }  
      
    }
    &__image{
      flex-basis: 45%;
      padding: 15rem;
      // border: 2px solid green;
      background: linear-gradient(
          to right,
          rgba(#000, 0.7),
          rgba(#000, 0.7)),
      url("../img/portfolio-img-small.jpg") center top;
      background-size: cover;
      background-position: center;
    }
  } 

  
}





