@import './config';
@import './tabnavigationmenu';
@import './about';
@import './projects';
@import './contact';

.tabcontent-home {
  display: block;
}

.three,
.four {
  position: relative;
  // display: flex;
  // flex-direction: column;
  // align-items: flex-start;
  min-height: 500px;
  padding: 7rem 15vh;
  border: none;
  margin-top: 5vh;

  h1 {
    padding: 2rem;
  }
}

.wave1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);

  & svg {
    position: relative;
    display: block;
    width: calc(104% + 1.3px);
    height: 43px;
  }
  & .shape-fill {
    fill: $primary-color;
  }
}

.wave1path {
  stroke-dasharray: 2545;
  stroke-dashoffset: -2545;

  animation: wave1 2s infinite;
}

@keyframes wave1 {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 2545;
  }
}

.wave2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);

  & svg {
    position: relative;
    display: block;
    width: calc(104% + 1.3px);
    height: 62px;
  }
  & .shape-fill {
    fill: $primary-color;
  }
}

.main {
  max-width: 1100px;
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  margin-top: 2vw;
  // padding-bottom: 7vw;

  @include query(tablet) {
    padding-left: 5rem;
  }
  @include query(mobile) {
    width: 100%;
    padding-bottom: 0;
  }

  &-intro {
    width: 100%;
    display: flex;
    flex-direction: row wrap;
    gap: 1rem;

    @include query(tablet) {
      gap: 2rem;
    }

    @include query(tablet) {
      flex-direction: column-reverse;
    }

    @include query(mobile) {
      flex-direction: column-reverse;
      gap: 0;
    }

    &__text {
      // border: 2px solid orangered;
      // flex-basis: 55%;
      flex-grow: 6;
      display: flex;
      justify-items: center;
      align-items: center;
      padding: 12rem 0;

      @include query(tablet) {
        padding: 7rem 1rem 0 1rem;
      }

      @include query(mobile) {
        padding: 5rem 1rem;
      }
      .main__highlight {
        font-size: 2.5rem;
        font-weight: 600;
        // text-indent: 1rem;

        & span {
          color: lighten($accent-color, 15%);
        }
        @include query(mobile) {
          font-size: 2.2rem;
          font-weight: 400;
          // text-indent: 0;
        }
      }

      .line-separator {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        height: 3px;
        width: 0%;
        background: $accent-color;
        animation: line-separator 2s ease-in;
        animation-delay: 1s;
        animation-fill-mode: forwards;

        @keyframes line-separator {
          from {
            width: 0%;
          }
          to {
            width: 45%;
          }
        }

        @include query(mobile) {
          width: 100%;
        }
      }
      .main__description {
        font-size: 1.4rem;
        font-weight: 100;
        letter-spacing: 3px;
      }
      .social-media {
        margin: 1.8rem 0 0 0;
        padding: 0;
        display: flex;

        & li {
          list-style: none;
          margin: 0 2px;
          font-size: 27px;
          color: $secondary-color;
        }
        & a {
          position: relative;
          display: block;
          width: 40px;
          height: 40px;
          text-align: center;
          line-height: 40px;
          background: $primary-color;
          border-radius: 25%;
          color: $accent-color;
          transition: 0.5s;

          &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 25%;
            background: $accent-color;
            transition: 0.5s;
            transform: scale(0.9);
            z-index: -1;
          }
          &:hover::before {
            transform: scale(1.1);
            box-shadow: 0 0 10px $accent-color;
          }
          &:hover {
            color: $accent-color;
            box-shadow: 0 0 3px $accent-color;
            text-shadow: 0 0 3px $accent-color;
          }
        }
      }
    }
    &__image {
      // flex-basis: 45%;
      flex-grow: 3;
      padding: 16rem;
      // border: 2px solid green;
      background: linear-gradient(
          to right bottom,
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.8)
        ),
        url('../img/me2.jpg') center left;
      background-size: contain;
      background-repeat: no-repeat;
      // background-position: center;
    }
  }
}

.wave1path {
  stroke-dasharray: 2545;
  stroke-dashoffset: -2545;

  animation: wave1 2s infinite;
}

@keyframes wave1 {
  from {
    stroke-dashoffset: -2545;
  }
  to {
    stroke-dashoffset: 0;
  }
}
