@import "./config";
@import "./tabnavigationmenu";
@import "./about";
@import "./projects";
@import "./contact";



.tabcontent-home{
  display: block;
}

.three, .four {
  position: relative;
  // display: flex;
  // flex-direction: column;
  // align-items: flex-start;
  min-height: 500px;
  padding: 7rem 15vh;
  border: none;
  margin-top: 5vh;

  h1{
    padding: 2rem;
  }
}

.wave1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);

  & svg {
    position: relative;
    display: block;
    width: calc(104% + 1.3px);
    height: 43px;
  }
  & .shape-fill {
    fill: $primary-color;
  }
}

.wave2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);

  & svg {
    position: relative;
    display: block;
    width: calc(104% + 1.3px);
    height: 62px;
  }
  & .shape-fill {
    fill:$primary-color;
  }
}

.main{
  max-width: 1100px;
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  margin-top: 2vw;
  // padding-bottom: 7vw;

  @include query(tablet){
    padding-left: 5rem;
  }
  @include query(mobile){
    width: 100%;
    padding-bottom: 0;
  }
  

  &-intro{ 
    width: 100%;
    display: flex;
    flex-direction: row;
    gap:4rem;

    @include query(tablet){
      gap: 2rem;
    } 
  
  
    @include query(tablet){
    flex-direction: column-reverse;
    }

    @include query(mobile){
      flex-direction: column-reverse;
      gap:0;
    }

    &__text{
      // border: 2px solid red;
      flex-basis: 55%;
      display: flex;
      justify-items: center;
      align-items: center;
      padding: 12rem 0;

      @include query(tablet){
        padding: 7rem 1rem 0 1rem;
      } 

      @include query(mobile){
        padding: 5rem 1rem;
      } 
      .main__highlight{
        font-size: 2.5rem;
        font-weight: 600;
        // text-indent: 1rem;
        
        & span{
          color: lighten($accent-color, 15%);
        }
        @include query(mobile){
          font-size: 2.2rem;
          font-weight: 400;
          // text-indent: 0;
        }
      }
      
      .line-separator{
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        height:3px;
        width: 45%;
        background:$accent-color; 
        // border-bottom:1px solid #313030;// wtf did i put this for?

        @include query(mobile){
          width: 100%;
        }
        
      }
      .main__description{
        font-size: 1.4rem;
        font-weight: 100;
        letter-spacing: 3px;

      }
      .social-media{
        margin-top: 2rem;
    
        .bx{
          padding-right: 0.6rem;
          color: $secondary-color;
          transition: color 0.3s ease-in;
        }
        .bx:hover{
          color: $accent-color;// for testing
        }
      } 
      
    }
    &__image{
      flex-basis: 45%;
      padding: 10rem;
      // border: 2px solid green;
      background: linear-gradient(
          to right bottom,
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.8)),
      url("../img/portfolio-img-small.jpg") center top;
      background-size: cover;
      background-position: center;

      // @include query(mobile){
      //   padding: 15rem;
      //   background: linear-gradient(
      //     to right bottom,
      //     rgba(0, 0, 0, 0.5),
      //     rgba(0, 0, 0, 0.8)),
      // url("../img/portfolio-img.jpeg") center top;
      // background-size: cover;
      // background-position: center;
      // }

    }
  } 

  
}