body{
  font-family: "Serabun", sans-serif;
}
header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient( to bottom, rgba(0,0,0, 0.3), rgba(0,0,0, 0.3)), url('https://images.pexels.com/photos/3912981/pexels-photo-3912981.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size: cover;
  color: white;
}

.about {
  height: 240vh;
  display: flex;
}
.about-title{
  width: 50%;
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  position:sticky;
  top:0;
}
.about-pages{
  width: 50%;
}

.about-pages div{
  height: 80vh;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color:white;
}
.about-pages div> p {
  width: 80%;
  font-size: 18px;
  line-height:30px;

}
.about-pages div:nth-child(1){
  background-color:grey
}
.about-pages div:nth-child(2){
  background-color:darkgray
}
.about-pages div:nth-child(3){
  background-color: gainsboro;
  color:gray
}
footer {
  height:40vh;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: bisque;
}